.accordion {
	overflow: hidden;
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 1fr auto auto;
    grid-row-gap: 1rem;
    max-height: 100%;
    .accordion-item {
    	@media only screen and (max-height: 800px) {
	    	&:not(.active){
	    		.collapse{
		    		display: none;
		    	}
		    	&:hover {
	    			cursor: pointer;
	    			background-color: rgb(255 255 255 / 9%);
	    		}
	    	}
	    	&.active {
	    		.collapse{
	    			display: block;
	    		}
	    	}
	    }
    }
}