@import "../envirement.scss";

.accordion {
  overflow: hidden;
  display: grid;
  width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 1fr auto auto;
  grid-row-gap: 1rem;
  max-height: 100%;
  .accordion-item {
    h3 {
      margin: 0 0 0.5rem 0;
    }
  }



  @media  screen  and (max-width:  $screen-l) 
                  and (min-width:  $screen-m) 
                  and (max-height: 950px),
          screen  and (max-height: 800px) {
    .accordion-item {
      &:not(.active) {
        h3 {
          margin: 0;
        }
        .collapse {
          display: none;
        }
        &:hover {
          cursor: pointer;
          background-color: rgb(255 255 255 / 9%);
        }
      }
      &.active {
        .collapse {
          display: block;
        }
      }
    }
  }

  @media only screen and (min-height: 800px) and (min-width:  $screen-l),
              screen and (min-height: 950px) and (min-width:  $screen-m) and (max-width:  $screen-l),
              screen and (max-width: $screen-m) and (min-height: 800px)
   {
      grid-template-rows: 1fr 1fr auto !important;
  }
}


