.square-image {
  overflow: hidden;
  aspect-ratio: 1;
  margin: 0;
  padding: 0;
  display: inline-block;
  .placeholder{
    background-color: #dbdbdb;
    animation: 1s placeholder infinite alternate;

  }
}

.square-image > img,
.square-image > div {
  width: 100%;
  height: 100%;
}
