@import "../envirement.scss";

.app-private {
	display: grid;
	width: 100vw;
	height:100vh;
	overflow: hidden;
	box-sizing: border-box;

	grid-gap: 1rem;
	grid-template-rows: auto 1fr;
	grid-template-columns: 1fr;
	padding: 1rem 1rem;
	

	@media only screen and (min-width: $screen-s) {
	    grid-gap: 1.5rem;
	    grid-template-rows: 1fr;
		grid-template-columns: 300px  1fr;
		padding:1rem 1.5rem;
		.app-me{ grid-column: 1}
		.app-content { grid-column: 2}
	}
	@media only screen and (min-width: $screen-m) {
	    grid-gap: 2rem;
		padding:2rem 2rem;
		
	}
	@media only screen and (min-width: $screen-l) {
	    grid-gap: 3rem;
		padding:2rem 3rem;
	}
	@media only screen and (min-width: $screen-xl) {
	    grid-gap: 4rem;
		padding:2rem 4rem;
	}
}