@import "../../envirement.scss";

.app-content {
  overflow: hidden;
  transition: transform 0.5s;
  &.mobile-menu-opened {
    transform: translateX(300px);
    @media only screen and (min-width: $screen-m) {
      transform: translateX(0px);
    }
  }
}
