.app-container {
	background-color: #ffffff44;
	border-radius: 10px;
	color:white;
}

.app-button {
	padding:0.4rem 2rem;
	background-color: white;
	text-decoration: none;
	color:black;
	transition: all 0.2s;
	border-radius: 10px;
	&:hover {
		background-color: #ffffff33;
		color:white;
	}
	&.r { border-radius: 10px 0px 0px 10px } 
	&.l { border-radius: 0px 10px 10px 0px } 
	&.t { border-radius: 0px 0px 10px 10px } 
	&.b { border-radius: 10px 10px 0px 0px } 

	&.lb { border-radius: 0px 10px 0px 10px } 
	&.rb { border-radius: 10px 0px 10px 0px } 
}

.alert {
	position: fixed;
	display: grid;
	align-content: center;
	justify-content: center;
	color:white;
	grid-template-columns: auto auto;
	grid-column-gap: 1rem;
	z-index:100;
	top:0;
	right:0;
	margin:2rem;
	padding:1rem 3rem;
	background-color: #00000059;
	border-radius:10px;
	animation: 0.5s fadein;

}

.ms-1 { margin-left: 0.5rem }
.ms-2 { margin-left: 1rem }

.me-1 { margin-right: 0.5rem }
.me-2 { margin-right: 1rem }

.mt-1 { margin-top: 0.5rem }
.mt-2 { margin-top: 1rem }

.mb-1 { margin-bottom: 0.5rem }
.mb-2 { margin-bottom: 1rem }


.fade-in {
	animation: 0.5s fadein;
	&.short { animation-duration: 0.2s }
	&.long { animation-duration: 1s }
}

.scale-in {
	animation: 0.5s scalein;
	&.short { animation-duration: 0.2s }
	&.long { animation-duration: 1s }
}



.placeholder{
	background-color: grey;
	animation:1s placeholder infinite alternate;
}


@keyframes placeholder {
	from { opacity: 0.3 }
  to   { opacity: 0.8 }
}

@keyframes fadein {
  from { opacity: 0 }
  to   { opacity: 1 }
}

@keyframes scalein {
  from { transform: scale(0); opacity:0 }
  to   { transform: scale(1); opacity:1 }
}


.horizontal-scroller {
	overflow-x: auto;
	&::-webkit-scrollbar {
  	width: 7px;
  	height: 7px;
	}
	&::-webkit-scrollbar-track {
	  background: rgba(255, 255, 255, 0.2);
	  border-radius:10px;
	}
	&::-webkit-scrollbar-thumb {
	  background-color: rgba(255, 255, 255, 0.5);
	  border-radius: 20px;

	  border: transparent;
	}
}

.scroller {
	overflow-y: auto;
	&::-webkit-scrollbar {
  	width: 7px;
  	height: 7px;
	}
	&::-webkit-scrollbar-track {
	  background: rgba(255, 255, 255, 0.2);
	  border-radius:10px;
	}
	&::-webkit-scrollbar-thumb {
	  background-color: rgba(255, 255, 255, 0.5);
	  border-radius: 20px;

	  border: transparent;
	}
}