@import "../../envirement.scss";

.app-me {
  display: grid;
  position: relative;
  grid-template-columns: auto  1fr auto auto auto;
  grid-template-rows: 56px;
  grid-gap: 1rem;
  align-items: baseline;
  header {
    min-width:150px;
  }
  #burger-menu,
  #go-home,
  #go-back,
  #go-fullscreen
   {
    align-self: center;
    margin: 0;
    height: 56px;
    width: 56px;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: 0;
    background-color: white;
    font-size: 1.6rem;
    transition: opacity 0.2s;
    @media (pointer: fine) {
      &:hover {
        cursor: pointer;
        opacity: 0.6;
      }
    }
  }
  
  
  #go-back{ grid-area: 1/1/2/2 }
  .app-search { grid-area: 1/3/2/4 }
  #go-fullscreen{ grid-area: 1/4/2/5 }
  #go-home { grid-area: 1/4/2/5 }
  #burger-menu { grid-area: 1/5/2/6 }

  #go-fullscreen{ display: none }

  .app-search {
    align-self: center;
    input{
      min-width:0px;
    }
  }

  .app-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: calc(56px + 1rem);
    bottom: 0;
    left: 0;
    width: min(100vw, 300px);
    padding: 1rem;
    box-sizing: border-box;
    z-index: 100;
    footer{
      margin-top: 0.8rem;
      grid-column-gap: 0.5rem;
      display: grid;
      grid-template-columns: 1fr auto auto auto 1fr;
      color: white;
      
      a {
        grid-column: 2;
        text-align: right;
        color:white;
        text-decoration: none;
        
        svg {
          font-size: 22px;
        }
      }
      p {
        grid-column: 3;
        font-size: 10pt;
        align-self: center;
        margin: 0;
      }
      img {
        height: 22px;
        grid-column: 4;
      }
    }
    &.active {
      animation: slidein_left 0.5s forwards;
    }
    &.hidden {
      animation: slideout_left 0.5s forwards;
    }
  }

  
  @media only screen and (max-width: $screen-s) {

    .app-search.active {
      grid-area: 1/1/2/6;
      & ~ header, 
      & ~ #go-home,
      & ~ #burger-menu,
      & ~ #go-back,
      & ~ #go-fullscreen {
        display: none;
      }
    }

    header{
      display: none;
    }

    .app-menu.active {
      & ~ .app-search,
      & ~ #go-back,
      & ~ #go-home {
        display: none;
      }
       & ~ #go-fullscreen {display: grid}
      & ~ header {
        animation: slidein_left 0.5s forwards;
        display: grid;
        grid-area: 1/1/2/4;
      }
    }
  }
 
  @media only screen and (min-width: $screen-s) {
    #go-back {
      display: none;
    }
    .app-search { grid-area: 1/2/2/3 }
    #go-home { grid-area: 1/3/2/4 }
    #burger-menu { grid-area: 1/4/2/5 }
    header {
      grid-area: 1/1/2/2 ;
      min-width:220px;
    }
    grid-template-columns: auto 1fr auto auto;
  }


  @media only screen and (min-width: $screen-m) {
    grid-template-rows: 56px auto 1fr;
    grid-template-columns: 0px 1fr auto;
    overflow: hidden;
    header {
      grid-area: 1/1/2/3;
    }
    #burger-menu { display: none }
    #go-back{  display: none }
    #go-home {
       grid-area: 1/3/2/4;
    }
    .app-search {
      grid-area: 2/1/3/4;
    }
    .search-results{
      grid-area: 3/1/4/2;
    }
    .app-menu {
      margin-left:-1rem;
      top:0;
      grid-area: 3/2/4/4;
      padding: 0;
      width: auto;
      position: inherit;
      display: flex;
      max-height: 100%;
      overflow: hidden;
      transform: none;
      opacity: 1;
      animation: none !important;
    }
  }
}

@keyframes slidein_left {
  from {
    transform: translateX(-300px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideout_left {
  from {
    transform: translateX(0px);
    opacity: 1;
  }
  to {
    transform: translateX(-300px);
    opacity: 0;
  }
}
